<div class="day">
  {{#each this}}
  <div class="event" style="background-color: {{#if busy}}#F2D2A2{{else}}#B9D6BC{{/if}};">

    <div class="event-time">{{time}}
      <div class="button-block">
        <div class="add-event-btn" onclick="openModal('{{date}}')">+</div>
        <div class="add-event-btn" onclick="showDeleteModal('{{date}}')">-</div>
      </div>
    </div>
    <div>{{event}}</div>

  </div>

  {{/each}}

</div>